.menu {
    list-style: none;
    /*убираем маркеры списка*/
    top: 0;
    /* в левый-верхний угол, и растянуть..  */

}

.menu__item {
    float: left;
    /*Размещаем список горизонтально для реализации меню*/
    margin-right: 5px;
}